body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5fcf8;
}

#header {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-bg {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

#brand {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
}

#logout-area {
  display: flex;
  align-items: center;
}

#footer {
  text-align: center;
  margin-bottom: 20px;
}

.movie-search-form,
.movie-results,
.movie-nominations {
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.movie-search-form {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  padding: 20px;
}

.movie-results,
.movie-nominations {
  height: 58vh;
  padding: 10px 30px;
  overflow-y: scroll;
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .movie-columns {
    display: flex;
    flex-direction: row;
  }

  .movie-results + .movie-nominations {
    margin-left: 40px;
  }

  .movie-results,
  .movie-nominations {
    width: 50%;
  }
}

.success-banner {
  background-color: #008060;
  color: white;
  border-radius: 5px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  text-align: center;
  padding: 10px;
  animation: fadeInAnimation ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
